<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="69717b">  <td>19/04/26 11:17:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup()[pri:0, instance:tests.AddToCartTest@d8355a8]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>19/04/26 11:17:57</td>   <td>3684</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddToCartTest.ListLaptops()[pri:1, instance:tests.AddToCartTest@d8355a8]">ListLaptops</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>19/04/26 11:18:01</td>   <td>7869</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddToCartTest.AddToCartWithExternalButton()[pri:2, instance:tests.AddToCartTest@d8355a8]">AddToCartWithExternalButton</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>19/04/26 11:18:04</td>   <td>10584</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddToCartTest.AddToCartWithInternalButton()[pri:3, instance:tests.AddToCartTest@d8355a8]">AddToCartWithInternalButton</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="69717b">  <td>19/04/26 11:18:08</td>   <td>15175</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.teardown()[pri:0, instance:tests.AddToCartTest@d8355a8]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@633070006</td>   <td></td> </tr>
</table>
